/Crazy Cooking Kitties/[Ll]ibrary/
/Crazy Cooking Kitties/[Tt]emp/
/Crazy Cooking Kitties/[Oo]bj/
/Crazy Cooking Kitties/[Bb]uild/
/Crazy Cooking Kitties/[Bb]uilds/
/Crazy Cooking Kitties/[Ll]ogs/
/Crazy Cooking Kitties/[Uu]ser[Ss]ettings/

