/CrazyCookingKitties-Unity/[Ll]ibrary/
/CrazyCookingKitties-Unity/[Tt]emp/
/CrazyCookingKitties-Unity/[Oo]bj/
/CrazyCookingKitties-Unity/[Bb]uild/
/CrazyCookingKitties-Unity/[Bb]uilds/
/CrazyCookingKitties-Unity/[Ll]ogs/
/CrazyCookingKitties-Unity/[Uu]ser[Ss]ettings/

